.btn {
  &,
  &:link,
  &:visited,
  &:focus,
  &:active {
    display: inline-block;
    background-color: $color-accent;
    color: $color-primary;
    border-radius: 3px;
    transition: background 0.15s ease-in-out;
  }

  &:hover {
    background-color: $color-accent-light;
  }
}
