.footer {
  padding: 5rem;

  &__list {
    list-style: none;
    max-width: 150rem;
    margin: 0;
  }

  &__item {
    min-width: 15rem;
    width: 20%;
    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
