.wrapper {
  width: 90%;
  max-width: 150rem;
  margin: 0 auto; }

.mt-medium {
  margin-top: 2rem; }

.mb-medium {
  margin-bottom: 2rem; }

.closed {
  display: none !important; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 103.15em) {
    html {
      font-size: 46.85%; } }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 27.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 23%; } }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #fff;
  background-color: #000;
  font-family: 'Roboto'; }

.logo,
.btn {
  text-decoration: none; }

.btn {
  font-size: 2rem;
  padding: 1.2rem 2.4rem; }

.btn--medium {
  font-size: 3rem; }

.btn--large {
  font-size: 4.2rem;
  padding: 1.8rem 3.6rem; }

.logo {
  color: #c40b0b;
  font-weight: 900;
  font-size: 10rem; }

.header-primary {
  font-size: 10rem;
  font-weight: 700; }
  .header-primary span {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa; }

.header-secondary {
  font-size: 3.5rem; }

.header-tertiary {
  font-size: 2.5rem; }

.navigation__link, .navigation__link:link, .navigation__link:visited, .navigation__link:active {
  color: #aaa;
  text-decoration: none;
  font-size: 2rem; }

.navigation__link:hover .navigation__title,
.navigation__item.active .navigation__title {
  color: #fff; }

.navigation__link:hover .navigation__icon,
.navigation__item.active .navigation__icon {
  fill: #fff; }

.watch__paragraph {
  font-size: 2rem;
  color: #aaa; }

.price__type-header {
  font-weight: 900;
  font-size: 2.5rem; }

.price__type {
  font-size: 2rem; }

.price__option {
  font-size: 2.5rem;
  font-weight: 300; }

.footer .we {
  font-size: 2.5rem; }

.footer__link, .footer__link:link, .footer__link:visited, .footer__link:active {
  text-decoration: none;
  color: #aaa;
  font-size: 1.8rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }

.footer__link:hover {
  color: #fff;
  text-decoration: underline; }

.btn, .btn:link, .btn:visited, .btn:focus, .btn:active {
  display: inline-block;
  background-color: #c40b0b;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out; }

.btn:hover {
  background-color: #d71616; }

.navigation {
  padding: 1rem;
  border-bottom: 2px solid #aaa;
  background-color: #222; }
  .navigation__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navigation__item {
    display: inline-block;
    text-align: center;
    cursor: pointer; }
  .navigation__link {
    display: inline-block; }
  .navigation__icon {
    fill: #aaa;
    width: 8rem;
    height: 8rem;
    margin-bottom: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .navigation__icon {
        width: 6rem;
        height: 6rem; } }
  .navigation__title span {
    display: block; }

.header {
  background-image: url(img/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  min-height: 40rem;
  position: relative;
  z-index: 1; }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(145deg, black, rgba(0, 0, 0, 0.55), black); }
  .header__top {
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .header__top {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-left: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__top {
        font-size: 25%; } }
    .header__top .btn {
      position: absolute;
      top: 3rem;
      right: 2rem; }
  .header__center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
  .header-primary {
    margin: 0;
    line-height: 1; }
    .header-primary span {
      display: block; }

.about__modul-wrapper {
  padding: 10rem 0; }
  @media only screen and (max-width: 37.5em) {
    .about__modul-wrapper {
      padding: 5rem 0; } }

.about .cancel {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .about .cancel {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .about .cancel__head, .about .cancel__pic {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about .cancel__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: end;
        align-content: flex-end; }
    @media only screen and (max-width: 37.5em) {
      .about .cancel__head {
        margin-bottom: 5rem; } }
  .about .cancel__img {
    width: 45rem;
    height: auto; }
    @media only screen and (max-width: 37.5em) {
      .about .cancel__img {
        width: 35rem; } }

.about .watch__head {
  padding: 5rem 5rem 2rem;
  text-align: center; }

.about .watch__desc {
  padding: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .about .watch__desc {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 4rem 4rem 0; } }

.about .watch__group {
  text-align: center;
  width: 30rem; }
  @media only screen and (max-width: 37.5em) {
    .about .watch__group {
      margin-bottom: 3rem; } }

.about .watch__img {
  fill: #d71616;
  width: 20rem;
  height: 20rem; }

.about .price__head {
  padding: 5rem;
  text-align: center; }

.about .price__desc {
  padding: 2rem 5rem 5rem; }

.about .price__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.about .price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem; }
  .about .price__row:nth-child(odd) {
    background-color: #aaa; }
  @media only screen and (max-width: 37.5em) {
    .about .price__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.about .price__cell {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

@media only screen and (max-width: 37.5em) {
  .about .price__option {
    margin-bottom: 5px; } }

.footer {
  padding: 5rem; }
  .footer__list {
    list-style: none;
    max-width: 150rem;
    margin: 0; }
  .footer__item {
    min-width: 15rem;
    width: 20%;
    display: inline-block;
    vertical-align: top; }
    .footer__item:not(:last-child) {
      margin-bottom: 5px; }

